h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(226, 116, 200);
    border: 6px solid rgb(161, 31, 151);
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Arial', sans-serif; 


}

h4 {
    color: rgb(119, 36, 85);
    text-align: center;
    font-size: 22px;
}

h3 {

    color: rgb(159, 24, 167);
    text-align: center;
}

body {

    background-image: url("https://cdn.hovia.com/app/uploads/Neutral-Cool-Cat-Pattern-Wallpaper-Mural-Plain-820x532.jpg");
}

label {
    font-size: 28px;
    background-color: rgb(226, 116, 200);

}

label,
input {
    font-size: 28px;
    vertical-align: center;
}

.photo {

    width: 10 px;
    height: 20 px;
    text-align: center;


}

.boton {
    text-align: center;
}

.contenedor {
    background-color: rgba(226, 116, 200, 0.551);
    border: 6px solid rgba(161, 31, 150, 0.501);
    font-size: 45px;
    padding: 20px;
    padding: 0px 60px;
    margin: 40px 0;
}
.gatito{
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}